body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavComponents */

/* NavBar */


nav {
  align-content: flex-end;
    display: inherit;
}

ul {
  align-content: flex-end;
    display: inherit;
    list-style-type: none;
}

.title {
    align-content: flex-end;
    line-height: 2px;
    text-align: justify;
  }

  .header {
    font-weight: 400;
  }
  
  .subtitle {
    font-size: 18px;
    font-weight: 200;
  
  }
  
  .navbar {
    justify-content: flex-end;
    display: flex;
  }
  
  .navpages {
    align-content: flex-end;
    display: flex;
  }

.navcomponents {
  justify-content: space-between;
  width: 500px;
  margin-left: 250px;
  display: inline-flex;
  font-weight: 300;
  text-decoration: rgb(90, 90, 90);
   
}

.navcomponents :hover {
  color: rgb(141, 141, 141);
}

a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.App-header {
  background-color: #4f535c;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: flex-start;
  padding-left: 20px;

}

/* About */

ul {
  text-decoration: none;
  list-style-type: none;
}

#middlecol {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 15px;
}

#rightcol {
  padding: 15px;
}

#leftcol {
  padding:15px;
}

div.row {
  align-content: space-between;
  display: flow-root;
  width: auto;
  column-gap: 292px;
}

.column {
  width:33.33333333%;
  text-align: inherit;
    display: table-cell;
}

/* React Player */

.reactplayer {
  
 
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  object-fit: cover;
  z-index: -1;
  
}

/* Contact */

.contactpage {
  justify-content: center;
  text-align: center;
}

.ulcontact {
  justify-content: space-between;
  text-align: center;
  display: inline-flex;
  margin-left: auto;
    margin-right: auto;

    height: 100%;
    width: 25%;
}

.contact-h1 {
  text-align: center;
}